/*CSS DOCUMENT*/
div.container{
    max-width: 60em;
    margin-right: 1em;
    margin-left: 1em;
}

img {
    width: 100%; 
}
h1{
    width: auto;
    margin-right: auto;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:0.5em;
}
h2,h3{
@import url("https://use.typekit.net/chl7fbp.css");
font-family: hobeaux, sans-serif;
font-weight: 1.4em;
font-size:2.5em;
font-style: normal;
color: rgb(156,175,136);
text-transform:uppercase;
text-align: center;
margin-bottom:0.2em;
}

h4{
@import url("https://use.typekit.net/chl7fbp.css");
font-family: hobeaux, sans-serif;
font-weight: 1.4em;
font-size:1.5em;
font-style: normal;
color: rgb(75,48,33);
text-transform:uppercase;
text-align: left;
}

p{
@import url("https://use.typekit.net/chl7fbp.css");
font-family: forma-djr-micro, sans-serif;
font-style: normal;
text-align: left;
}

.location,.welcome{
@import url("https://use.typekit.net/chl7fbp.css");
font-family: forma-djr-micro, sans-serif;
font-style: normal;
text-align: center;
}

li{
@import url("https://use.typekit.net/chl7fbp.css");
font-family: forma-djr-micro, sans-serif;
font-style: normal; 
}

footer{
@import url("https://use.typekit.net/chl7fbp.css");
font-family: forma-djr-micro, sans-serif;
font-style: normal;
text-align: center;
font-size: 0.5em;
}

body{
    background-color: rgb(245,245,245);
}

nav ul{
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

nav ul li{
    @import url("https://use.typekit.net/chl7fbp.css");
    display: inline;
    list-style-type: none;
    margin-right: 1em;
    font-family: hobeaux, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul li a{
    color: rgb(75,48,33);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(156,175,136);
}

/*Please don’t change this CSS stylesheet for the content hierarchy assginment */