/*CSS DOCUMENT*/
h1{
  color: rgb(92, 136, 166);
  font-size: 3em;
}
h2{
  color: rgb(43, 91, 70);
  font-size: 2em;
}
h3{
  color: rgb(122, 134, 138);
  font-size: 1em;
  font-family: sans-serif;
}
h4{
  color: rgb(157, 166, 169);
  font-family: sans-serif;
}
body{
  background-color: rgb(246, 241, 232);
}