/*CSS DOCUMENT*/
h1{
  color: rgb(92, 136, 166);
  font-size: 2em;
}
h2{
  color: rgb(43, 91, 70);
  font-size:1em;
}
h3{
  color: rgb(122, 134, 138);
  font-family: sans-serif;
  text-transform: uppercase;
}
h4{
  text-transform: lowercase;
}

p{
  text-transform: lowercase;
}

body{
  background-color: rgb(246, 241, 232);
}