/*CSS DOCUMENT*/

div.container{
    max-width:60em;
    margin: auto;
}

body{
    background-color:rgb(255,250,240);
}

header{
    grid-column: 1/3;
}

h1{
    font-family: serif;
    text-align: center;
    color:rgb(139,0,0);
}
h2{
    font-style: italic;
    text-align:center;
}
h3{
    color:rgb(139,0,0);
}


main{
    display: grid;
    grid-template-columns:50% auto;
}

/*ingredients and directions*/
caption{
    font-family: serif;
}

/*caption*/
figure{
    max-width:60em;
    margin: auto;
    margin:0;
    display: grid;
    grid-template-columns:70% 5% auto;
    grid-column:1/3;
}

img{
    width: 100%; /*Please leave this line.*/
}

figcaption{
    font-style: italic;
    font-size: 1.3em;
    grid-column:3/4;
}

footer{
    text-align: center;
    color:rgb(139,0,0);
    grid-column:1/3;
}

video {margin: 0, 2em, 2em, 2em;	padding: 0,0,0,1em;	border: 1em;	vertical-align: baseline;} 
    
    



