/*CSS DOCUMENT*/
div.container{
    max-width: 60em;
    margin:auto;
}

img {
    width: 100%; 
}

h1{
    width: auto;
    margin: auto;
    margin-bottom:0.5em;
    text-align: left;
}

h2,h3{
font-family: hobeaux, sans-serif;
font-size:1.5em;
font-style: normal;
color: rgb(156,175,136);
text-transform:uppercase;
text-align: left;
align-content: center;
margin-bottom:0.2em;
margin-top: 0.2em;
}

h4{
font-family: hobeaux, sans-serif;
font-size:1.2em;
font-style: normal;
color: rgb(75,48,33);
text-transform:uppercase;
text-align: left;
margin:0.5em;
}

h5{
font-family: lieberuth, sans-serif;
font-style: normal;  
font-weight: 700;
color: rgb(156,175,136);
text-transform:uppercase;
margin-bottom: 0em;
}

p,.welcome{
font-family: lieberuth, sans-serif;
font-style: normal;
margin-left:0em;
margin-bottom: 0em;
margin-top:0.2em;
text-transform: lowercase;
}

main{
text-transform: lowercase;
margin-bottom: 2em;
}

article{
display: grid;
margin-bottom: 2em;
}

.coffeebeans{
display: grid;
grid-template-rows: 3em;
}

.location{
font-family: lieberuth, sans-serif;
font-style: normal;
text-align: left;
}

li{
font-family: lieberuth, sans-serif;
font-style: normal;
}

footer{
font-family: lieberuth, sans-serif;
font-style: normal;
font-size: 1em;
text-align: center;
background-color:rgb(75,48,33);
color:rgb(156,175,136);
padding:1.3em;
}

body{
    background-color: rgb(245,245,245);
}

::marker{
    color:rgb(156,175,136);
}

nav ul{
    padding: 0;
    margin: auto;
    text-align: center;
}

nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 1em;
    font-family: hobeaux, sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul li a{
    color: rgb(75,48,33);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(156,175,136);
}

@media screen and (min-width:37em){
    nav ul li{
        font-size:2em;
    }
    article{
        grid-template-columns:50% auto;
    }
    h2{
        font-size:2.5em;
        margin-top: 1em;
    }
    h4{
        font-size:1.5em;
    }
}

/*Please don’t change this CSS stylesheet for the content hierarchy assginment */